* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrap {
  width: 1600px;
  margin: 0 auto;
}

.mainMenu {
  list-style: none;
}

.mainMenu {
  display: flex;
}

.leftMenu {
  float: left;
}

.rightMenu {
  float: right;
}
.mainMenu li a {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 30px;
}

#logo {
  width: 120px;
}

.icon {
  width: 25px;
}
